<%- include('partials/header.ejs'); -%>

<div class="container">
    <div class="row">
        <div class="col border shadow ">
            <h1>Employee Attendece </h1>

        

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col border shadow text-warning">
          <h3>Employees list</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col border shadow text-warning">
          <h3>Employees History</h3>
        </div>
    </div>
</div>






<%- include('partials/footer.ejs'); -%>
